// @import './_variables.scss';

.card {
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  padding-bottom: 10px;
  .card-img {
    position: relative;
    img {
      // Styles for all img tags inside .card-img

      &:first-child {
        position: absolute;
        bottom: 5px;
        right: 10px;
        cursor: pointer;
      }

      &:nth-child(2) {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        width: 100%;
      }
    }
  }
  .card-body {
    padding: 10px 15px 0 15px;
    .apartment {
      position: relative;
      font-family: Inter;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.48px;
      color: #2b2b2b;
      padding: 0 0 10px 16px;
      &::before {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        background-color: #0a801f;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 4px;
        transform: translateY(-50%);
      }
    }
  }
  div {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    h3 {
      font-weight: 700;
      font-size: 21px;
      line-height: 20px;
      color: #2b2b2b;
      padding-bottom: 5px;
    }

    .bed-bath {
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      color: #2b2b2b;
      margin-right: 5px;
    }
    .bed {
      margin-right: 10px;
    }
    span {
      font-weight: normal;
    }
    p {
      font-weight: 400;
      font-size: 1rem;
      line-height: 20px;
      color: #2b2b2b;
      padding-right: 20%;
    }
  }
}

.explore,
.newestlistings {
  min-height: 400px;
  padding: 0 55px;
  @media (max-width: 480px) {
    padding: 0 20px;
  }

  h1 {
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    padding: 30px 0 5px 0;
    letter-spacing: 0.48px;
    color: #2b2b2b;
  }

  p {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    padding: 0 0 5px 0;
    // line-height:24px;
    letter-spacing: 0.48px;
    color: #2b2b2b;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, minmax(100px, 1fr));
    gap: 10px;

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(auto, minmax(100px, 1fr));
    }

    @media (max-width: 480px) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(auto, minmax(100px, 1fr));
    }
  }
}

.explore-cities {
  .title {
    padding: 0 55px;
    @media (max-width: 480px) {
      padding: 0 20px;
    }
  }
}

.hidden {
  display: none;
}
footer {
  background-color: #2b2b2b;
  color: #ffffff;
  margin-top: 81px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .social-icons-container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 84px;
    .icon {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;

      @media (max-width: 480px) {
        width: 30px;
        height: 30px;
      }
      img {
        width: 22px;
      }
    }
  }
  nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    padding-block-start: 4rem;
    padding-inline: 2rem;
    font-weight: 500;
    line-height: 18px;
    font-size: 16px;

    li {
      list-style: none;
    }
  }
  .get-app {
    padding: 32px 0 92px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    p {
      font-weight: 700;
      font-size: 20px;
      line-height: 32px;
      @media (max-width: 480px) {
        font-weight: 400;
        font-size: 16px;
        line-height: 10px;
      }
    }

    .get-app__icons {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
    }
    .get-on-appstore:hover,
    .get-on-playstore:hover {
      cursor: pointer;
    }
  }
}

.x-spacing {
  padding: 30px 0;
}
.home {
  position: relative;
  .user-auth {
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    background: #0000004d;
    width: 100%;
    height: 100vh;
    z-index: 20;
  }
  .hiddepop {
    display: none;
  }
}
.user-signin-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  .signin-signup {
    border-radius: 15px;
    background: #ffffff;
    padding: 20px;
    .heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 30px;
      h2 {
        font-size: 2rem;
      }
      p {
        font-size: 1.4rem;
        cursor: pointer;
      }
    }
    form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .input-field-label {
        align-self: flex-start;
        font-size: 1.5rem;
      }

      input {
        width: 100%;
        padding: 15px;
        border-radius: 8px;
        margin-top: 0.5rem;
        border: transparent;
        outline: 1px solid black;
        transition: all 500ms ease-in-out;
        &::placeholder {
          font-size: 1.2rem;
        }
        &:focus {
          border: 1px solid black;
        }
      }
      button {
        width: 100%;
        padding: 15px;
        border-radius: 24px;
        margin-top: 10px;
        outline: none;
        background: #000;
        color: #ffffff;
        display: grid;
        place-content: center;
      }
    }
    .divider-wrapper {
      margin-top: 30px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .divider {
        height: 2px;
        width: 45%;
        background: #000;
      }
      span {
        padding: 10px;
        font-size: 1.2rem;
      }
    }
    button {
      outline: none;
      padding: 10px 15px;
      background: #ffffff;
      color: #00000077;
      font-weight: bold;
      width: 100%;
      border-radius: 24px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      img {
        width: 25px;
      }
    }
    .csignin-signup-footer {
      margin-top: 30px;
      h2 {
        text-align: center;
        font-size: 14px;
      }
      p {
        text-align: center;
        margin-bottom: 40px;
      }
    }
  }
}
.privacy-policy {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1.2rem;
}
