@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;700&display=swap");

/* global variables */
:root {
  --font-ultra-small: 1rem;
  --font-extra-small: 1.5rem;
  --font-small: 2rem;
  --font-medium: 3rem;
  --font-large: 5rem;

  /* colors */
  --soft-red: 358, 73%, 49%;
  --white: 0, 100%, 100%;
  --light-grey: 192, 188, 188;
  --border-radius-10: 10px;

  /* TRANSITION */
  --transition: all 300ms ease-in-out;
}
/* utility class */
.font-thin {
  font-weight: 100;
}
.font-bold {
  font-weight: 700;
}
.mb-5 {
  margin-bottom: 5px;
}
.display-block {
  display: block;
}

/* general styles */
html {
  font-size: 62.5%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
input,
button {
  font: inherit;
}
