/* nav section */

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 2rem;
  position: relative;
}
.nav * {
  padding-block: 0.5rem;
}
.nav__toggle-icon {
  font-size: 3rem;
}

.nav__toggle-icon {
  cursor: pointer;
  margin-block: 0.2rem;
  padding: 0.2rem;
  transition: var(--transition);
}
.nav__toggle-icon:hover {
  opacity: 0.5;
}

.nav__list-item {
  list-style-type: none;
  font-size: var(--font-extra-small);
  border-bottom: 1px solid transparent;
  margin: 1rem 2rem;
  transition: var(--transition);
  &:hover {
    border-bottom: 1px solid black;
    cursor: pointer;
    opacity: 0.7;
  }
}

.user-profile-image {
  transition: var(--transition);
}
.user-profile-image:hover {
  cursor: pointer;
}

.nav__list {
  position: absolute;
  display: flex;

  gap: 1rem;
  background: hsl(var(--white));
  flex-direction: column;
  width: 100%;
  top: -100vh;
  left: 0;
  padding-block: 2rem;
  transition: all;
}
.nav__list.nav__list-visible {
  top: 7rem;
  max-height: 100vh;
}
.login-button {
  outline: none;
  border: none;
  background: none;
  font-size: 1.6rem;
  cursor: pointer;
  transition: var(--transition);

  &:hover {
    opacity: 0.7;
  }
}

.signup-button {
  border-color: transparent;
  background: grey;
  text-align: center;
  padding: 1rem;
  color: hsl(var(--white));
  font-size: var(--font-extra-small);
  margin-inline: 2rem;
  transition: var(--transition);
  cursor: pointer;
  padding-inline-start: 1rem;

  &:hover {
    background: rgb(var(--light-grey));
  }
}

.brand-image-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.brand-name {
  text-transform: uppercase;
  font-size: var(--font-extra-small);
}
.brand-image {
  width: 50px;
  aspect-ratio: 1;
  object-fit: contain;
}

@media screen and (min-width: 900px) {
  .nav__toggle-icon {
    display: none;
  }

  .nav__list,
  .nav__list.nav__list-visible {
    position: relative;
    flex-direction: row;

    top: 0;
    padding: 0;
    align-items: center;
  }
  .signup-button {
    border-radius: var(--border-radius-10);
  }
}
